@tailwind base;
@tailwind components;
@tailwind utilities;

/* 나눔스퀘어 Regular */
@font-face {
  font-family: "NanumSquare";
  font-weight: 400;
  font-style: normal;
  src: url("./public/fonts/NanumSquareR.ttf") format("truetype");
}

/* 나눔스퀘어 Light */
@font-face {
  font-family: "NanumSquare";
  font-weight: 300;
  font-style: normal;
  src: url("./public/fonts/NanumSquareL.ttf") format("truetype");
}

/* 나눔스퀘어 Bold */
@font-face {
  font-family: "NanumSquare";
  font-weight: 700;
  font-style: normal;
  src: url("./public/fonts/NanumSquareB.ttf") format("truetype");
}

/* 나눔스퀘어 Extra Bold */
@font-face {
  font-family: "NanumSquare";
  font-weight: 800;
  font-style: normal;
  src: url("./public/fonts/NanumSquareEB.ttf") format("truetype");
}

:root {
  --primary: #3742FA;
  --primary-foreground: #FFFFFF;
  --secondary: #d1d1d1;
  --secondary-foreground: #000000;
  --destructive: #EF4444;
  --destructive-foreground: #FFFFFF;
  --accent: #FF5200;
  --accent-foreground: #FFFFFF;
  --muted: #F1F5F9;
  --muted-foreground: #000000;
}

body {
  font-family: "NanumSquare"; /* 기본 폰트 설정 */
  color: #2D3436;
}